<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>staff</string>
	<key>Label</key>
	<string>com.megacorp.planb</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>20</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/planb_check</string>
		<string>-q</string>
		<string>-s</string>
		<string>180</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>3607</integer>
	<key>TimeOut</key>
	<integer>1800</integer>
	<key>UserName</key>
	<string>root</string>
	<key>WorkingDirectory</key>
	<string>/</string>
</dict>
</plist>
