<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWorkspace</key>
	<dict>
		<key>NSWorkspaceDidTerminateApplicationNotification</key>
		<dict>
			<key>method</key>
			<array>
				<string>NSWorkspaceHandler</string>
				<string>OnApplicationQuit</string>
			</array>
		</dict>
		<key>NSWorkspaceWillLaunchApplicationNotification</key>
		<dict>
			<key>method</key>
			<array>
				<string>NSWorkspaceHandler</string>
				<string>OnApplicationLaunch</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
